version: "3.8"

services:
  localstack:
    image: localstack/localstack
    container_name: localstack_main
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,dynamodb,lambda,iam
      - DEBUG=1
      - DATA_DIR=/var/lib/localstack/data
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./localstack-data:/var/lib/localstack"

